<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Rates.io homepage</title>
</head>

<body ng-app="ratesApp">
    <div ng-controller="ratesController">
        <div>
            <div>Rates:</div>
            <div ng-if="rates.dollar2bitcoin">{{rates.dollar2bitcoin.from}} to {{rates.dollar2bitcoin.to}} rate {{rates.dollar2bitcoin.cost}}</div>
            <div ng-if="rates.euro2bitcoin">{{rates.euro2bitcoin.from}} to {{rates.euro2bitcoin.to}} rate {{rates.euro2bitcoin.cost}}</div>
            <div ng-if="rates.euro2dollar">{{rates.euro2dollar.from}} to {{rates.euro2dollar.to}} rate {{rates.euro2dollar.cost}}</div>

            <br />

            <div>Timings:</div>
            <div ng-repeat="timing in timings">
                {{timing.name}}: downloaded in {{timing.downloading}}ms, parsed in {{timing.parsing}}ms, formatted in {{timing.formatting}}ms
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var config = {
            websocket: {
                host: 'ws://rates.io:8080'
            }
        };
        angular.module('ratesApp',[]);
    </script>
    <script src="/js/service.js"></script>
    <script src="/js/controller.js"></script>    
</body>
</html>